<footer id="footer" class="main">
  <div>
    <a href="https://www.instagram.com/sir_rob_cul/" class="icon">
      <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/lucborris/" class="icon">
      <fa-icon [icon]="['fab', 'linkedin-in']"></fa-icon>
    </a>
    <a href="{{ gitHubUrl$ | async }}" class="icon">
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
    </a>
    <a href="mailto:lucborris@gmail.com" class="icon">
      <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
    </a>
  </div>
  <p>Created by <strong>Luc Borris</strong></p>
</footer>
