@import "../../styles/variables";

#footer {
  text-align: center;
  margin: 4em 0;

  .icon {
    margin: 20px;
    text-decoration: none;
    border-bottom: none;
    position: relative;
    border: 1px solid $icon-color;
    transition: box-shadow 0.5s, color 0.5s;
    box-shadow: inset 0 0 0 50px $primary-bg-color;
    width: 2em;
    line-height: 2em;
    display: inline-block;
    border-radius: 100%;
    color: $icon-color;
    background: $icon-color;
    transition: box-shadow 0.5s, color 0.5s;
    background-size: 0 0;
    background-position: 50% 50%;
    &:hover {
      box-shadow: inset 0 0 0 0px $primary-bg-color;
    }
  }
}

#footer a {
  color: inherit;
}

#footer::before {
  content: "";
  display: inline-block;
  width: 6em;
  height: 2px;
  background-color: $icon-color;
  margin-bottom: 4em;
}

@media screen and (max-width: 736px) {
  #footer {
    margin-top: 2em;
  }

  #footer:before {
    margin-bottom: 2em;
  }
}
