<footer id="footer" class="main">
  <div>
    <a href="https://www.instagram.com/sir_rob_cul/" class="icon">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/lucborris/" class="icon">
      <fa-icon [icon]="faLinkedinIn"></fa-icon>
    </a>
    <a href="https://github.com/Borrisson" class="icon">
      <fa-icon [icon]="faGithub"></fa-icon>
    </a>
    <a href="mailto:lucborris@gmail.com" class="icon">
      <fa-icon [icon]="faEnvelope"></fa-icon>
    </a>
  </div>
</footer>
