<div id="cta">
  <h2>Skills</h2>
  <div class="container-row">
    <div class="container-column">
      <h4>Languages</h4>
      <div id="languages" class="container-row">
        <i
          appHoverClass="colored"
          class="large {{ icon }}"
          *ngFor="let icon of languageIcons"
        ></i>
      </div>
    </div>
    <div class="container-column">
      <h4>Frameworks</h4>
      <div id="frameworks" class="container-row">
        <i
          appHoverClass="colored"
          class="large {{ icon }}"
          *ngFor="let icon of frameworkIcons"
        ></i>
      </div>
    </div>
  </div>
</div>
