#cta {
  padding: 2em 0 0.1em 0;
  text-align: center;
  .container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .container-column {
      display: flex;
      flex-direction: column;
    }
    .large {
      position: relative;
      display: block;
      margin: 0 1em 1.5em 0;
      cursor: default;
      font-size: 2.5rem;
    }
  }
}

@media screen and (max-width: 736px) {
  #cta {
    padding: 2em 2em 0.1em 2em;
  }
}

@media screen and (max-width: 480px) {
  #cta {
    padding: 2em 1em 0.1em 1em;
  }

  #cta p br {
    display: none;
  }
}
