<section id="cta" class="main">
  <fa-icon [icon]="['fas', 'check-circle']" class="icon major"></fa-icon>
  <h2>Skills</h2>
  <div class="container-row">
    <div class="container-column" *ngFor="let skill of skills">
      <h4>{{ skill.name }}</h4>
      <div id="{{ skill.name }}" class="container-row">
        <i
          title="{{ filterNameOnly(icon) }}"
          *ngFor="let icon of skill.icons"
          class="large devicon-{{ icon }} devicon"
          appHoverClass="colored"
        ></i>
      </div>
    </div>
  </div>
</section>
