@import "../../../styles/mixins";

#intro {
  @include blocks;
  @include icons;
  margin-bottom: 0;
}
@media screen and (max-width: 736px) {
  #intro {
    padding: 2em 2em 0.1em 2em;
  }
}

@media screen and (max-width: 480px) {
  #intro {
    padding: 2em 1em 0.1em 1em;
  }

  #intro p br {
    display: none;
  }
}
