@import "../../../styles/mixins";
@import "../../../styles/variables";

#contact {
  @include blocks;
  .icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;

    &.success {
      color: $success-color;
    }

    &.danger {
      color: $danger-color;
    }

    &.major {
      display: block;
      margin: 0 0 1.5em 0;
      cursor: default;
      font-size: 2.5rem;
      box-shadow: inset 0 0 0 2px $icon-color;
      width: 2.5em;
      line-height: 2.5em;
      display: inline-block;
      border-radius: 100%;
      color: $icon-color;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    margin: 0 25%;
    justify-content: center;
    text-align: left;

    label {
      &:not(:nth-of-type(3))::after {
        content: "*";
        color: $required-color;
        font-weight: bolder;
      }
    }

    .form-input {
      position: relative;

      .icon {
        position: absolute;
        top: 12px;
        right: 12px;
      }

      textarea,
      input {
        resize: none;
        overflow: hidden;
        &.ng-valid {
          border-color: $success-color;
        }
        &.ng-invalid {
          border-color: $danger-color;
        }
        &.ng-untouched {
          border-color: inherit;
        }
      }
    }
    button {
      margin: 20px 33%;
      width: 33%;
    }
    div {
      small.text-danger {
        color: $danger-color;
      }
    }
  }
  @media screen and (max-width: 767px) {
    form {
      margin: 0;
      button {
        margin: 20px 0;
        width: 100%;
      }
    }
  }
}
