#contact {
  padding: 4em 4em 2em 4em;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  margin: 20px 0;
  form {
    margin: 0 25%;

    label {
      text-align: left;
      &:not(.not-required)::after {
        content: "*";
        color: blue;
        font-weight: bolder;
      }
    }

    button {
      margin: 20px 0;
    }
  }
}
