<section id="contact" class="main">
  <form (ngSubmit)="handleSubmit()" [formGroup]="contactForm">
    <fa-icon [icon]="faEnvelope" class="icon major"></fa-icon>
    <h2>Contact</h2>

    <label> Email </label>
    <input type="email" name="_replyto" formControlName="email" required />

    <label> Name </label>
    <input type="text" name="_name" formControlName="name" required />

    <label> Subject </label>
    <input type="email" name="_replyto" formControlName="subject" />

    <label> Message </label>
    <textarea name="message" formControlName="message" required></textarea>

    <button>Send</button>
  </form>
</section>
