<section id="contact" class="main">
  <fa-icon [icon]="faEnvelope" class="icon major"></fa-icon>
  <h2>Contact</h2>

  <div *ngIf="showErrMsg && !submit">
    <p>
      <strong>
        Something went wrong sending your message. You can try sending your
        message
        <a
          href="mailto:lucborris@gmail.com?subject={{
            subject.value || 'Let\'s get in touch'
          }}&body={{ message.value }}"
          >here</a
        >.
      </strong>
    </p>
  </div>

  <form
    *ngIf="!submit; else showMsg"
    (ngSubmit)="handleSubmit()"
    [formGroup]="contactForm"
  >
    <label> Email </label>

    <div class="form-input">
      <input type="email" name="_replyto" formControlName="email" required />
      <fa-icon
        [icon]="faCheck"
        class="icon success"
        *ngIf="email.valid && email.dirty"
      ></fa-icon>
      <fa-icon
        [icon]="faTimes"
        class="icon danger"
        *ngIf="email.invalid && (email.dirty || email.touched)"
      ></fa-icon>
    </div>

    <!-- Error Message for email -->

    <div *ngIf="email.invalid && (email.dirty || email.touched)">
      <small *ngIf="email.errors?.required" class="text-danger">
        Please enter an email
      </small>
      <small *ngIf="email.errors?.pattern" class="text-danger">
        Please enter a valid email
      </small>
    </div>

    <label> Name </label>
    <div class="form-input">
      <input type="text" name="_name" formControlName="name" required />
      <fa-icon
        [icon]="faCheck"
        class="icon success"
        *ngIf="name.valid && name.dirty"
      ></fa-icon>
      <fa-icon
        [icon]="faTimes"
        class="icon danger"
        *ngIf="name.invalid && (name.dirty || name.touched)"
      ></fa-icon>
    </div>

    <!-- Error Message for name -->

    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <small *ngIf="name.errors?.required" class="text-danger">
        Please add a name
      </small>
    </div>

    <label> Subject </label>
    <input type="text" name="_subject" formControlName="subject" />

    <label> Message </label>
    <div class="form-input">
      <textarea
        name="message"
        formControlName="message"
        maxlength="1000"
        required
      ></textarea>
      <fa-icon
        [icon]="faCheck"
        class="icon success"
        *ngIf="message.valid && message.dirty"
      ></fa-icon>
      <fa-icon
        [icon]="faTimes"
        class="icon danger"
        *ngIf="message.invalid && (message.dirty || message.touched)"
      ></fa-icon>
    </div>

    <!-- Error Message for message -->

    <div *ngIf="message.invalid && (message.dirty || message.touched)">
      <small *ngIf="message.errors?.required" class="text-danger"
        >Please add a brief message
      </small>
      <small *ngIf="message.errors?.minlength" class="text-danger">
        Please add a message of at least 10 characters
      </small>
      <small *ngIf="message.errors?.maxlength" class="text-danger">
        You have reached the 1000 character limit
      </small>
    </div>

    <button>Send</button>
  </form>
  <ng-template #showMsg>
    <p><strong>Your message has been sent. Thank You.</strong></p>
  </ng-template>
</section>
