<section id="about" class="main">
  <img src="../../../assets/images/headshot.jpg" alt="headshot" />
  <article>
    <fa-icon [icon]="faUser" class="icon major"></fa-icon>
    <h2>About Me</h2>
    <p>
      Hi there! My name is <strong>Luc</strong>. I'm an Aviator,
      <strong>Full Stack Web Developer</strong> and Photography Hobbiest based
      in Calgary. I've worked as an Airline Pilot and now I write code. I've
      worked remotely on a number of projects, professionally and personally. I
      care deeply in creating beautiful, world-class and useful products. May
      your need be Design, Front-end or Back-end I got you covered.
    </p>
  </article>
</section>
