<section id="about" class="main">
  <h2>About Me</h2>
  <article>
    <p>
      Hi there! My name is <strong>Luc</strong>. I'm an Aviator, Developer and
      Photography Hobbiest based in Montreal. I used to fly airplanes and now I
      build scalable and beautiful websites. My journey to becoming a
      <strong> Full-Stack Web Developer </strong> began
      <em>March 12th, 2020</em>, when mass layoffs occured at my previous
      company. After this traumatic chapter in my life, I entered anew. This new
      chapter is <strong>Web Development </strong>. This discovery has led me on
      a chase to perfecting my code writting skill. All in all, this career
      change has been a great life changing experience.
    </p>
  </article>
</section>
