<section class="main items">
  <article class="item" *ngFor="let project of projects">
    <header>
      <a href="{{ project.html_url }}">
        <img
          *ngIf="project.name !== 'mapit'"
          src="assets/images/{{ project.name }}.gif"
          alt="{{ project.name }}"
          loading="lazy"
        />
        <img
          *ngIf="project.name === 'mapit'"
          src="assets/images/{{ project.name }}.png"
          alt="{{ project.name }}"
          loading="lazy"
        />
      </a>
      <h3>{{ project.name }}</h3>
    </header>
    <p>
      {{ project.description }}
    </p>
    <a href="{{ project.html_url }}" class="button">{{ project.name }} Repo</a>
  </article>
</section>
