<section class="main items">
  <article class="item" *ngFor="let project of projects">
    <header>
      <a href="{{ project.html_url }}"
        ><img src="assets/images/pic0{{ project.id % 6 || 6 }}.jpg" alt=""
      /></a>
      <h3>{{ project.name }}</h3>
    </header>
    <p>
      {{ project.description }}
    </p>
    <ul class="actions">
      <li>
        <a href="{{ project.html_url }}" class="button"
          >{{ project.name }} Repo</a
        >
      </li>
    </ul>
  </article>
</section>
